.Drawer{
    background-color: rgb(225, 220, 214);
    position: fixed;
    width: 300px;
    top: 61px;
    bottom: 0;
    left: 0;
    right: -300px;
}
.category{
    text-align: right;
}
.list-menu-drawer{
    display:block;
}
.openDrawer{
    right: 0;
}
.btn-drawer{
    cursor: pointer;
    float: right;
    font-size: medium;
    font-family: Morabba;
}



