@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IRANSansWeb/IRANSansWeb.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Black.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Bold.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Light.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Medium.woff");
  }
  @font-face {
    font-family: "Morabba";
    src: url("../fonts/Morabba/Morabba-Black.woff");
    src: url("../fonts/Morabba/Morabba-Bold.woff");
    src: url("../fonts/Morabba/Morabba-Light.woff");
    src: url("../fonts/Morabba/Morabba-Medium.woff");
    src: url("../fonts/Morabba/Morabba-Regular.woff");
  }
  @font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir/Vazir-Light.woff");
    src: url("../fonts/Vazir/Vazir-Bold.woff");
    src: url("../fonts/Vazir/Vazir-Medium.woff");
    src: url("../fonts/Vazir/Vazir-Thin.woff");
    src: url("../fonts/Vazir/Vazir.woff");
  }
/*header*/
  header{
    background-image: url(/img/views/header-img2.png);
    background-size: cover;
    height: 900px;
}
/*Header-Top*/
.Header-Top{
  background-color: #232222;
  font-family: "Morabba";
  color: white;
  padding-top: 20px;
  text-align: center;
}
.Header-menu{
  padding-bottom: 10px;
 }
.list-menu{
  display:inline-flex;
  list-style-type: none;
  font-size: large;
  }
.list-menu li{
  padding-right: 30px;
}

.maria {
  font-size:25px;
}
.maria a{
  text-align: right;
  text-decoration: none;
  color: white; 
}