@font-face {
    font-family: "IRANSansWeb";
    src: url("../fonts/IRANSansWeb/IRANSansWeb.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Black.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Bold.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Light.woff");
    src: url("../fonts/IRANSansWeb/IRANSansWeb_Medium.woff");
  }
  @font-face {
    font-family: "Morabba";
    src: url("../fonts/Morabba/Morabba-Black.woff");
    src: url("../fonts/Morabba/Morabba-Bold.woff");
    src: url("../fonts/Morabba/Morabba-Light.woff");
    src: url("../fonts/Morabba/Morabba-Medium.woff");
    src: url("../fonts/Morabba/Morabba-Regular.woff");
  }
  @font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir/Vazir-Light.woff");
    src: url("../fonts/Vazir/Vazir-Bold.woff");
    src: url("../fonts/Vazir/Vazir-Medium.woff");
    src: url("../fonts/Vazir/Vazir-Thin.woff");
    src: url("../fonts/Vazir/Vazir.woff");
  }
/*header*/
  header{
    background-color:#ffffff;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
}
/*Header-Top*/
.Header-Top {
  background-color: #232222;
  font-family: "Morabba";
  color: white;
  text-align: center;
  padding-top: 20px;
}

.list-menu{
  display:inline-flex;
  list-style-type: none;
  }
.list-menu li{
  padding-right: 20px;
}
.Header-Bottom{
  padding-top: 50px;
}

.Porofile-img img{
  width: 100%;  
  border-radius: 1000px;
}
.Porofile-bio {
  padding-top: 50px;
}
.btn-drawer{
  margin-right: 20px;
}
.maria a{
 text-decoration: none;
 color: #ffffff;
}
